/*BM Grid Main CSS*/


.grid-stack .grid-item-inside,
.container-masonry .grid-item-inside,
.filters .filters-a:after,
.filter-sticky .filters,
.filter-num{
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s; 
}  

.ux-background-img {
  background-position: 50% 50%; background-repeat: no-repeat; -webkit-background-size:cover; background-size:cover;
}

/* Isotope List */
.grid-stack {
  width: 100%; height: calc(100vh - 200px);
}
.grid-item {
  width: 100%; float: left;
}
.grid-item--width2 {
  width: 100%;
}
.grid-item-inside {
  overflow: hidden; position: relative;
}
.container-masonry .grid-item-inside {
  opacity: 0; 
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden!important;
}
.grid-stack .grid-item-inside {
  opacity: 0; 
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
}
.container-masonry .grid-item-inside.grid-show,
.grid-stack .grid-item-inside.grid-show { 
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.grid-item-tit {
  line-height: 1.5; padding: 20px 0; cursor: pointer;
}
.grid-item-cate {
  display: inline-block; 
}
.masonry-list .ux-lazyload-wrap:after {
  content: ''; position: absolute; z-index: -1; bottom: 0; right: 0; background-color: #f0f0f0;
}
.entry-content h2.grid-item-tit {
  margin-top: 0; margin-bottom: 0;
}
.grid-item-con,
.grid-item-con:after {
  position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 9; 
}
.grid-item-con:after {
  content: ''; z-index: 0; opacity: 0; background-color: #fff;  
} 
.grid-item-con:after {
  transition: opacity .3s;
}
.masonry-list:not(.masonry-grid-show-text) .grid-item-con:hover:after,
.grid-stack:not(.masonry-grid-show-text) .grid-item-con:hover:after,
.ajaxed-grid-item .grid-item-con:hover:after { 
  opacity: .9; 
} 
.grid-item-con-text {
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}
.filter_post-format-link .grid-item-con-text,
.filter_post-format-link .grid-item-con:after {
  opacity: 1;
}
.grid-item .grid-item-con:hover .grid-item-con-text,
.grid-stack .grid-item-con:hover .grid-item-con-text {
  opacity: 1;
  -webkit-transition: opacity .5s .3s;
  -moz-transition: opacity .5s .3s;
  transition: opacity .5s .3s;
}
.ux-portfolio-spacing-10 .masonry-list {
  margin: -5px; 
} 
.ux-portfolio-spacing-40 .masonry-list {
  margin: -20px; 
}
.filter-scrolled .content_wrap_outer {
  padding-top: 60px;
}
.grid-inn {
   position: relative; z-index: 9; text-align: left;
}
.grid-item {
  overflow: hidden; float: left;
}
.ux-portfolio-spacing-10 .masonry-list:not(.masonry-grid) .grid-item-inside {
  margin: 5px;
}
.ux-portfolio-spacing-40 .masonry-list:not(.masonry-grid) .grid-item-inside {
  margin: 20px;
} 
.ux-portfolio-5col .grid-item-con:after,
.ux-portfolio-6col .grid-item-con:after {
  margin: 10px;
}
.ux-portfolio-spacing-none .ux-lazyload-wrap,
.masonry-grid-show-text .ux-lazyload-wrap {
  background:none;
} 
.grid-item-con {
  text-align: center;
}
.grid-item-mask-link {
  position: absolute; display: block; z-index: 999; left: 0; right: 0; top: 0; bottom: 0;
}
.grid-item-con-text {
  position: absolute; z-index: 9; top:50%; left: 50%; width: 100%; padding: 10px 40px;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.grid-text-center .grid-item-con-text {
  text-align: center;
}
.grid-text-right .grid-item-con-text {
  text-align: right;
}
.grid-text-top-right .grid-item-con-text,
.grid-text-top-left .grid-item-con-text,
.grid-text-top-center .grid-item-con-text,
.grid-text-bottom-center .grid-item-con-text,
.grid-text-bottom-left .grid-item-con-text,
.grid-text-bottom-right .grid-item-con-text   {
  top: auto; text-align: center; bottom: 50px;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
.grid-text-top-right .grid-item-con-text {
  text-align: right; top: 50px; bottom: auto;
}
.grid-text-top-left .grid-item-con-text {
  text-align: left; top: 50px; bottom: auto;
}
.grid-text-top-center .grid-item-con-text {
  top: 50px; bottom: auto;
}
.grid-text-bottom-left .grid-item-con-text {
  text-align: left;
}
.grid-text-bottom-right .grid-item-con-text {
  text-align: right;
}
.img-zoom-in .grid-item-con-text,
.img-zoom-in .grid-item-con:after {
  display: none;
}
.img-zoom-in .grid-item-inside .lazy-loaded {
  -webkit-transition: all 4.5s;
  -moz-transition: all 4.5s;
  -ms-transition: all 4.5s;
  transition: all 4.5s;
}
.img-zoom-in .grid-item-inside:hover .lazy-loaded {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1); 
  transform: scale(1.1);
}
.grid-item-con-text {
  left: 50px; right: 50px; text-align: left; width: auto; padding: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.grid-item-con-text-tit-shown {
  position: relative; z-index: 9; margin-bottom: 20px;
}
.grid-item-con-text-tit-shown .gallery-info-property-tit {
  padding-right: 10px;
}
.grid-item-con-text-tit-shown.standard-text-center .gallery-info-property-tit {
  padding-right: 0;
}
.grid-item-con-text-tit-shown.standard-text-right {
  text-align: right;
} 
.grid-item-con-text-tit-shown.standard-text-right .gallery-info-property-item {
  display: inline-block;
}
.grid-item-con-text-tit-shown.standard-text-center {
  text-align: center;
} 
.grid-item-con-text-tit-shown.standard-text-center .gallery-info-property-item {
  display: block;
}
.grid-item-con-text-tit-shown.standard-text-padding,
.grid-text-left.masonry-text-padding .grid-item-con-text-show {
  padding-left: 20px;
}
.grid-item-con-text-tit-shown.standard-text-right.standard-text-padding,
.grid-text-right.masonry-text-padding .grid-item-con-text-show {
  padding-left: 0; padding-right: 20px;
}
.grid-item-con-text-tit-shown.standard-text-center.standard-text-padding {
  padding-left: 0; padding-right: 0;
}
.grid-list .ux-lazyload-wrap {
  padding-top: 75%!important;
}
.ux-ratio-169 .grid-list .ux-lazyload-wrap {
  padding-top: 56.25%!important;
}
.ux-ratio-11 .grid-list .ux-lazyload-wrap {
  padding-top: 100%!important;
}
.ux-portfolio-spacing-none .grid-item-con-text-tit-shown {
  padding: 20px; 
}
.grid-info-property-li {
  font-size: 10px;
}
.grid-info-property-tit {
  margin-right: 15px;
}
.masonry-grid-show-text .brick-content {
  overflow: hidden;
}
.masonry-grid-show-text .ux-lazyload-bgimg {
  bottom: 50px;
}
.grid-item-con-text-show {
  position: absolute; bottom: 0; left: 0; height: 50px; width: 100%;
}
.grid-item-con-text-show .grid-item-cate {
  margin-bottom: 0; font-size: 14px;
}
.grid-item-con-text-show .grid-item-tit {
  padding: 0; font-size: 20px; line-height: 50px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.grid-item-con-text-show .grid-item-cate ~ .grid-item-tit {
  line-height: 1; 
}
.grid-text-left .grid-item-con {
  text-align: left;
}
.grid-text-right .grid-item-con {
  text-align: right;
} 
.grid-stack.grid-stack-one-column-mode[data-spacing="0"] > .grid-stack-item {
  margin-bottom: 0;
}

/* Masonry Blog */
.gird-blog-tit,
.gird-blog-meta,
.gird-blog-excerpt {
  margin-top: 20px;
}
.gird-blog-tit {
  line-height: 1;
}
.grid-meta-a {
  position: relative; margin-right: 17px;
}
.grid-meta-a:last-child:after {
  display: none;
}
.grid-meta-a:after {
  content: ''; position:absolute; right: -10px; top: 50%; height: .8em; margin-top: -.4em; width: 1px; background-color: currentColor;
  -webkit-transform: rotate(10deg);transform: rotate(10deg);
}
.grid-meta-a:hover {
   color: inherit;
}
.blog-unit-quote {
  font-size: 1.1em; line-height: 1.6;
}
.blog-unit-quote {
  padding: 10px 0 10px 20px; font-style: italic; border-left: 2px solid currentColor;
}
.blog-unit-quote cite {
  margin-top: 10px;
}
.ux-portfolio-spacing-40[data-template="blog-masonry"] .grid-item-inside {
    padding-bottom: 40px;
}

/* Irregular List */
.cusl-style-list {
  width: 80%; margin-left: auto; margin-right: auto; overflow: hidden;
}
.cusl-style-unit {
  opacity: 0;
}
.cusl-style-unit-inn {
  display: inline-block; position: relative; 
}
.cusl-style-light-text-wrap {
  display: none; position: absolute; z-index: 3; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; color: #fff;
}
.cusl-style-normal-text-wrap {
  position: absolute; z-index: 9; left: 0; right: 0; top: 0; bottom: 0;
}
.cusl-cate-a {
  margin-left: 9px; margin-right: 9px;
}
.cusl-dark-img .cusl-style-light-text-wrap {
  display: block;
}
.cusl-style-list .cusl-style-light-text-wrap a,
.cusl-style-list .cusl-style-light-text-wrap a:hover {
  color: #fff;
}
.cusl-style-normal-text-wrap,
.cusl-style-light-text-wrap,
.cusl-img-wrap {
  -webkit-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  transform: translateY(200px);
}
.cusl-img-wrap {
  position: relative; z-index: 2; width: 100%; overflow: hidden; display: inline-block; 
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  transform: translateY(400px);
}
.cusl-style-unit.cusl-show {
  opacity: 1;
}
.cusl-style-unit.cusl-show .cusl-style-normal-text-wrap,
.cusl-style-unit.cusl-show .cusl-style-light-text-wrap,
.cusl-style-unit.cusl-show .cusl-img-wrap {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  transform-delay:.2s;
}
.cusl-img {
  width: 100%; position: absolute;
}
.cusl-style-tit-wrap { 
  position: absolute; z-index: 9; text-align: center;
}
.cusl-dark-img .cusl-style-normal-text-wrap {
  z-index: 1;
} 
.cusl-style-unit-inn {
  margin-top: 60px;
}
.cusl-negative-padding .cusl-style-unit-inn {
  margin-top: -60px;
}
.cusl-img-w30 .cusl-style-unit-inn {
  width: 30%;
}
.cusl-img-w40 .cusl-style-unit-inn {
  width: 40%;
}
.cusl-img-w50 .cusl-style-unit-inn {
  width: 50%;
}
.cusl-img-w60 .cusl-style-unit-inn {
  width: 60%;
}
.cusl-img-w70 .cusl-style-unit-inn {
  width: 70%;
} 
.cusl-img-center {
  text-align: center;
}
.cusl-img-right {
  text-align: right;
}
.cusl-text-middle-right .cusl-style-tit-wrap {
  top: 50%; right: 0; left: auto;
  -webkit-transform: translateX(70%) translateY(-50%);
  -moz-transform: translateX(70%) translateY(-50%);
  -ms-transform: translateX(70%) translateY(-50%);
  transform: translateX(70%) translateY(-50%);
}
.cusl-text-middle-left .cusl-style-tit-wrap {
  top: 50%; left: 0;
  -webkit-transform: translateX(-70%) translateY(-50%);
  -moz-transform: translateX(-70%) translateY(-50%);
  -ms-transform: translateX(-70%) translateY(-50%);
  transform: translateX(-70%) translateY(-50%);
}
.cusl-text-middle-left.cusl-img-w70 .cusl-style-tit-wrap { 
  -webkit-transform: translateX(-40%) translateY(-50%);
  -moz-transform: translateX(-40%) translateY(-50%);
  -ms-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
}
.cusl-text-top-right .cusl-style-tit-wrap,
.cusl-text-bottom-right .cusl-style-tit-wrap {
  top: 10%; right: 0; left: auto;
  -webkit-transform: translateX(70%);
  -moz-transform: translateX(70%);
  -ms-transform: translateX(70%);
  transform: translateX(70%);
} 
.cusl-text-top-left .cusl-style-tit-wrap,
.cusl-text-bottom-left .cusl-style-tit-wrap {
  top: 10%; left: 0;
  -webkit-transform: translateX(-70%);
  -moz-transform: translateX(-70%);
  -ms-transform: translateX(-70%);
  transform: translateX(-70%);
}
.cusl-text-top-left.cusl-img-w70 .cusl-style-tit-wrap,
.cusl-text-bottom-left.cusl-img-w70 .cusl-style-tit-wrap { 
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}
.cusl-text-bottom-right .cusl-style-tit-wrap,
.cusl-text-bottom-left .cusl-style-tit-wrap {
  bottom: 10%; top: auto;
}
.cusl-style-list a,
.cusl-style-list a:hover {
  color: #313139;
}
.portfolio-link-button {
  text-align: center; line-height: 240px;
}
.portfolio-link-button-a {
  position: relative; font-size: 36px; 
}
.cusl-cate-a {
  display: inline-block; position: relative; font-size: .8em;
}
.cusl-cate-a:after {
  content: ''; width: 1px; height: .9em; position: absolute; right: -12px; top: 50%; margin-top: -.45em; background-color: currentColor;
}
.cusl-cate-a:last-child:after {
  display: none;
} 

/* Hover Parallax*/
.cusl-style-unit-inn {
  transition: all .3s ease;
  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cusl-style-unit-inn.leave {
  -webkit-transform: rotateX(0) rotateY(0)!important;
          transform: rotateX(0) rotateY(0)!important;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 2.71)!important;
          transition-timing-function: cubic-bezier(0.42, 0, 0, 2.71)!important;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

/* Image Lazy */
.ux-lazyload-wrap {
  position: relative; display: block; background-color: #f0f0f0;
}
.ux-lazyload-img {
  position: absolute; left: 0; top: 0; max-width: 100%; width: 100%; height: auto;
}
.ux-lazyload-bgimg {
  position: absolute; left: -1px; right: -1px; bottom: -1px; top: -1px; 
}
.lazy-hidden {
  opacity: 0;
}
.animated,
.lazy-loaded {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}
.lazy-loaded {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (min-width: 768px) {
  /* Page tempalte */ 
  .grid-item,
  .ux-portfolio-5col .grid-item {
    width: 20%;
  }
  .grid-item--width2,
  .ux-portfolio-5col .grid-item--width2 {
    width: 40%;
  }
  .ux-portfolio-6col .grid-item {
    width: 16.6667%;
  }
  .ux-portfolio-6col .grid-item--width2 {
    width: 33.3333%;
  }
  .ux-portfolio-4col .grid-item {
    width: 25%;
  }
  .ux-portfolio-4col .grid-item--width2 {
    width: 50%;
  } 
  .ux-portfolio-3col .grid-item,
  .ajaxed-grid-item.grid-item {
    width: 33.3333%; 
  }
   .ux-portfolio-3col .grid-item--width2 {
    width: 66.6666%; 
  }
  .ux-portfolio-2col .grid-item {
    width: 50%;
  }
  .ux-portfolio-1col .grid-item,
  .ux-portfolio-2col .grid-item--width2 {
    width: 100%;
  }
}

/*Filter*/
.filters {
  position: relative; z-index: 9; font-size: 15px; line-height: 40px; margin-bottom: 20px; 
}
.filters-li {
  display: inline-block; margin: 0 15px;
}
.filters .filters-li:first-child {
  margin-left: 0;
}
.filter-sticky.filter-scrolled .filters {
  position: fixed; left: 0; top:0; z-index: 9999; width: 100%; text-align: center; background-color: #fff;
}
.filters-a {
  position: relative;
}
.filter-num {
  position: absolute; opacity: 0; z-index: 0; right: -12px; top: 0; font-size: .6em; line-height: 1em; 
  -webkit-transform: scale(0); transform: scale(0);
}
.filters-a:hover .filter-num, 
.filters-li.active .filter-num {
  opacity: 1;  
  -webkit-transform: scale(1); transform: scale(1);
}

@media (max-width: 767px) {
  .grid-stack-one-column-mode.grid-stack {
    margin: 0 auto !important;
  }   
  .grid-stack-one-column-mode.grid-stack .grid-item-inside, 
  .grid-stack-one-column-mode.grid-stack >.grid-stack-item>.grid-stack-item-content {
    position: static !important;
  }
  .grid-stack-one-column-mode .grid-stack-item {
      height: auto !important;
  }
  .grid-stack-one-column-mode .grid-stack-item .brick-content {
    padding-top: 75% !important;
  }
}